.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #250123;
  margin: 15% auto;
  padding: 1.25rem;
  border: 0.0625rem solid #888;
  width: 20%;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.modal-content form input {
  width: 100%;
  height: 2rem;
  margin: auto;
}

.modal-content form input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #C020C6;
}

.modal-content form label {
  font-size: 1.5rem;
}

.margin-button-modal {
  height: 1.5rem;
}

.button-submit {
  margin-top: 1.8rem;
  height: 3rem;
  width: 8rem;
  background-color: #F1CA27;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}
.button-submit:hover {
  opacity: 0.7;
}

.modal-abrir {
  animation-name: abrir-modal;
  animation-duration: 0.5s;
}

@keyframes abrir-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-fechar {
  animation-name: fechar-modal;
  animation-duration: 0.5s;
}

@keyframes fechar-modal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.button-loading {
  position: relative;
}

.button-loading::after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.button-loading.loading::after {
  display: block;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}