/* Responsivo para iPhone XR */
@media screen and (max-width: 414px) {
  *{
    font-size: 50%;
  }
  .container{
    width: 90%;
  }

  .title-copy .title{
    margin-top: 0;
    width: 35.3125rem;
    height: 5rem;

  }
  .container .sub-title{
    margin-top:3rem;
  }
  .container .line{
    margin-top: 15rem;
  }
  
  .title-sc-2{
    margin-top: 0;
    width: 30rem
}
.sub-title-sc-2 {
  width: 110%;
  margin-top: 10rem;
  
}
.section2-container{
  width: 80%;
}
.content-light span {
  width: 90%;
}
.modal-content {
  
  width: 40%;
}
  
}

/* Responsivo para dispositivos até 1200px */
@media screen and (max-width: 1200px) {
  *{
    font-size: 70%;
  }
.img-woman{
  width: 100%;
}
.img-woman img{
  width: 100%;
}
.title-sc-2{
  width: 100%;
}
.sub-title-sc-2 {
font-size: 1.479rem;
text-align: center;
}
.content-sc-2{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom:0 ;
}
.content-sc-2 img{
  width: 90%;
}
.cards{
  flex-wrap: wrap;
}
}
